.name-of-item {
  font-size: 3rem;
  color: black;
}
.item {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}
.item-image {
  display: flex;
  width: 40rem;
  height: 40rem;
  background-image: url(../images/Product_images/asuslaptop.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 5rem 6rem;
  border: 0.2rem solid #f1f1f1;
}
.title-of-item {
  width: 50%;
  display: flex;
  flex-direction: column;
}
